#data
logs
network-data
outputs
pyrightconfig.json
.env
*.log
*.pyc
.vscode
scratch*
LOG.md
experiments/
local/
*.h5
.slurm_logs
.slurm
.submitit
experiments
setup.sh
wandb/

**/__pycache__/** 

.venv
/data